<!--  наследуемся от шаблона default.html, который мы создавали для flatpages -->
{% extends 'flatpages/default.html' %}

{% load custom_filters %}
{% load custom_tags %}

{% block title %}
Article
{% endblock title %}

{% block content %}

<div class="flex-container">
    <a href="create/" class="btn">📝 Добавить статью</a>
</div>

<h1>Все статьи</h1>


<h6><span
        style="color: #999999;">/ Количество записей: {{articles|length}} /</span></h6>
{% if articles %}
<div class="list-group">
    <br>
    {% for article in articles %}
    <!-- Не забываем, что переменные в шаблоне ничем не отличаются
     от переменных в Python. Здесь также можно получать доступ к
     полям объекта модели. Например, здесь мы выводим имя,
     в следующем столбце описание, и т.д.  -->

    <a href="{{ article.id }}" class="list-group-item list-group-item-action">
        <h3 style="text-align: left;"><span
                style="color: #800000;">{{ article.title }}</span></h3>
        <h6 style="text-align: left;"><span
                style="color: #999999;">Дата публикации: {{article.date |date:'d M Y h:m:s'}}</span></h6>
        <h5 style="text-align: left;">{{ article.text | truncatewords:20 }}</h5>
        <h6 style="text-align: left;"><span
                style="color: #999999;">Автор: {{ article.user.user }}</span></h6>
    </a>

    {% endfor %}
</div>
{% else %}
<h2>Статей нет!</h2>
{% endif %}

{% if page_obj.has_previous %}
{# Для каждой ссылки пагинации указываем обработку через новый тег #}
<a href="?{% url_replace page=1 %}">1</a>
{% if page_obj.previous_page_number != 1 %}
...
<a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
{% endif %}
{% endif %}


{# Информация о текущей странице #}
<a style="font-size: 20px;"><b>{{ page_obj.number }}</b></a>

<!--{{ page_obj.number }}-->

{# Информация о следующих страницах #}
{% if page_obj.has_next %}
<a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
{% if paginator.num_pages != page_obj.next_page_number %}
...
<a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
{% endif %}
{% endif %}


{% endblock content %}
