<!--  наследуемся от шаблона default.html, который мы создавали для flatpages -->
{% extends 'flatpages/default.html' %}
{%load custom_filters %}
<!-- Название у нас будет Product -->
{% block title %}
New
{% endblock title %}

<!-- В контенте на странице мы выводим сам товар, идентификатор которого был передан в url -->
{% block content %}
<div class="flex-container">
    <a href="{% url 'new_edit' pk=object.pk %}" class="btn">✍️ Редактировать новость</a>
    <p></p>
    <a href="{% url 'new_delete' pk=object.pk %}" class="btn">❌ Удалить</a>
</div>


{% if new %}
<!--<h1>{{ new }}</h1>-->

<!-- Не забываем, что переменные в шаблоне ничем не отличаются
 от переменных в Python. Здесь также можно получать доступ к
 полям объекта модели. Например, здесь мы выводим имя,
 в следующем столбце описание, и т.д.  -->

<!--<a href="{{ new.id }}" style='text-decoration:none; background:#A96767; color:#000000;'>-->
<h3 style="text-align: left;"><span
        style="color: #800000;">{{ new.title }}</span></h3>
<h6 style="text-align: left;"><span
        style="color: #999999;">Дата публикации: {{ new.date|date:'d M Y h:m:s' }}</span></h6>
<h5 style="text-align: left;">{{ new.text|censor }}</h5>
<h6 style="text-align: left;"><span
        style="color: #999999;">Автор: {{ new.user.user }}</span></h6>
<h6 style="text-align: left;"><span
        style="color: #999999;">Теги:
    {% for cat in new.category.all %}
    {{ cat.category }}
    {% endfor %} </span></h6>

{% endif %}
{% endblock content %}