<!--  наследуемся от шаблона default.html, который мы создавали для flatpages -->
{% extends 'flatpages/default.html' %}

{% load custom_filters %}
<!-- Название у нас будет products -->
{% block title %}
News
{% endblock title %}

<!-- В контенте на странице мы выводим все товары -->
{% block content %}
<h1>Все статьи и новости</h1>
<h6><span
        style="color: #999999;">/ Количество записей: {{news|length}} /</span></h6>
{% if news %}
<div class="list-group">
    <br>
    {% for new in news %}
    <!-- Не забываем, что переменные в шаблоне ничем не отличаются
     от переменных в Python. Здесь также можно получать доступ к
     полям объекта модели. Например, здесь мы выводим имя,
     в следующем столбце описание, и т.д.  -->

    <a href="{{ new.id }}" class="list-group-item list-group-item-action">
        <!--<a href="{{ new.id }}" style='text-decoration:none; background:#A96767; color:#000000;'>-->
        <h3 style="text-align: left;"><span
                style="color: #800000;">{{ new.title }}</span></h3>
        <h6 style="text-align: left;"><span
                style="color: #999999;">Дата публикации: {{ new.date |date:'d M Y h:m:s'}}</span></h6>
        <h5 style="text-align: left;">{{ new.text | truncatewords:20 }}</h5>
        <h6 style="text-align: left;"><span
                style="color: #999999;">Автор: {{ new.user.user }}</span></h6>
    </a>

    {% endfor %}
</div>
{% else %}
<h2>Новостей нет!</h2>
{% endif %}
{% endblock content %}

